@font-face {
    font-family: "halogenFontNormal";
    src:url("../fonts/Roboto/Roboto-Thin.ttf");
  }
  
  @font-face {
    font-family: "halogenFontSmall";
    src:url("../fonts/Roboto/Roboto-Light.ttf");
  }
  
  
  body{
      background-color: #fafafa;
      font-family: 'halogenFontNormal';
      overflow-y: none;
  }
  
  
  #landingPage{
    width: 60%;
  }
  
    .heart {
      color: #D20928;
  }
  
  .sidenav{
    padding-top: 15%;
  }
  
  .sidenav li{
    margin-top: 15%;
  }
  
  .brand-logo{
    font-weight: 200;
  }
  
  h1, h2, h3, h4, h5, p{
    font-weight: 100;
  }

  #text{
      padding: 4%;
  }


 