
@font-face {
  font-family: "halogenFontNormal";
  src:url("../fonts/Roboto/Roboto-Thin.ttf");
}

@font-face {
  font-family: "halogenFontSmall";
  src:url("../fonts/Roboto/Roboto-Light.ttf");
}


body{
    background-color: #fafafa;
    font-family: 'halogenFontNormal';
    overflow-y: none;
}

body p{
  font-family: 'halogenFontSmall'
}

#landingPage{
  width: 60%;
}

#index-banner{
  background-image: url(../media/38029720-wallpaper-google.jpg);
  background-size: cover;
}

li a {
  font-family: 'halogenFontSmall';
  text-decoration: none;
}

footer li a {
  text-decoration: underline;
}

footer div{
  font-family: 'halogenFontSmall'
}


#target{
  text-decoration: none;
  color: #fafafa;
  cursor: pointer;
}

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255,255,255,.9);
  }
    .parallax-container .section {
      width: 100%;
    }
  
  @media only screen and (max-width : 992px) {
    img {
        height: auto;
        width:75%;
     }
     #index-banner{
      background-image: none;

    }
    
  }

  .heart {
    color: #D20928;
}

.sidenav{
  padding-top: 15%;
}

.sidenav li{
  margin-top: 15%;
}

.brand-logo{
  font-weight: 200;
}

h1, h2, h3, h4, h5{
  font-weight: 100;
}