@font-face {
    font-family: "halogenFontNormal";
    src:url("../fonts/Roboto/Roboto-Thin.ttf");
  }
  
  @font-face {
    font-family: "halogenFontSmall";
    src:url("../fonts/Roboto/Roboto-Light.ttf");
  }
  
  
  body{
      background-color: #fafafa;
      font-family: 'halogenFontNormal';
      overflow-y: none;
  }
  
  body p{
    font-family: 'halogenFontSmall'
  }
  

#card-contents{
    padding-top: 50px;
}

.card-title{
    font-size: 30px !important;
}

.card-subtitle{
    font-size: 20px;
    font-weight: 400;
    padding-top: 15px;
}

.card{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-text{
    font-size: 16px;
    padding-top: 15px;
}

li a {
    font-family: 'halogenFontSmall';
    text-decoration: none;
  }
  
  footer li a {
    text-decoration: underline;
  }
  
  footer div{
    font-family: 'halogenFontSmall'
  }
  
  
  #target{
    text-decoration: none;
    color: #fafafa;
    cursor: pointer;
  }

  .sidenav{
    padding-top: 15%;
  }
  
  .sidenav li{
    margin-top: 15%;
  }
  
  .brand-logo{
    font-weight: 200;
  }
  
  h1, h2, h3, h4, h5{
    font-weight: 100;
  }

  @media only screen and (max-width : 992px) {
    img {
        height: auto;
        width:75%;
     }
    }