@font-face {
    font-family: "halogenFontNormal";
    src:url("../fonts/Roboto/Roboto-Thin.ttf");
  }
  
  @font-face {
    font-family: "halogenFontSmall";
    src:url("../fonts/Roboto/Roboto-Light.ttf");
  }
  
  
  body{
      background-color: #fafafa;
      font-family: 'halogenFontNormal';
      overflow-y: none;
  }
  
  body p{
    font-family: 'halogenFontSmall'
  }
  
li a {
    font-family: 'halogenFontSmall';
    text-decoration: none;
  }
  
  footer li a {
    text-decoration: underline;
  }
  
  footer div{
    font-family: 'halogenFontSmall'
  }
  
  
  #target{
    text-decoration: none;
    color: #fafafa;
    cursor: pointer;
  }

  .sidenav{
    padding-top: 15%;
  }
  
  .sidenav li{
    margin-top: 15%;
  }
  
  .brand-logo{
    font-weight: 200;
  }
  
  h1, h2, h3, h4, h5{
    font-weight: 100;
  }

  @media only screen and (max-width : 992px) {
    img {
        height: auto;
        width:75%;
     }
    }





    /****************************************/


  
  .title {
    font-family: halogenFontNormal;
      width: 100%;
      text-align: center;
      top: 0%;
      z-index: 25;
      color: #000;
      font-size: 150px;
  }

  

  .arrow {
      position: relative;
      left: 50%;
      width: 35px;
      height: 35px;
      margin-left: -12px;
      border-left: 1px solid #000;
      border-bottom: 1px solid #000;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      box-sizing: border-box;
      position: absolute;
      bottom: 12%;
      left: 50%;
  }

.card{
  margin-top: -10%;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.row{
  text-align: center;
}

.card-action a{
  color: #039BE5 !important;
}

#button{
  position: fixed !important;
  float: right;
}

blockquote{
  text-align: center; 
}